In [1]:
import numpy as np
import pandas as pd

Задача, определить приблизительную стоимость цветов у поставщиков

In [2]:
df = pd.DataFrame(data={'цена в прошлом месяце': [1000, 1250, 1200, 1300, 1500, 1450, 1500, 1500, 1550, 1525],
                        'запасы т.': [1.1, 1.2, 1.24, 1.3, 1.4, 1.33, 1.28, 1.31, 1.29, 1.32],
                        'коэф. спроса': [0.71, 0.72, 0.72, 0.73, 0.74, 0.73, 0.73, 0.74, 0.73, 0.735],
                        'текущая цена' : [1100, 1300, 1235, 1475, 1600, 1550, 1575, 1650, 1700, 1650]
                       }).sample(frac=1).reset_index(drop=True)
df

   цена в прошлом месяце  запасы т.  коэф. спроса  текущая цена
0                   1550       1.29         0.730          1700
1                   1450       1.33         0.730          1550
2                   1250       1.20         0.720          1300
3                   1500       1.28         0.730          1575
4                   1500       1.40         0.740          1600
5                   1300       1.30         0.730          1475
6                   1200       1.24         0.720          1235
7                   1500       1.31         0.740          1650
8                   1525       1.32         0.735          1650
9                   1000       1.10         0.710          1100

In [3]:
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

In [199]:
X, y = make_regression(n_samples=400, n_features=14, n_informative=5, noise=5, random_state=42)
X = pd.DataFrame(X)
y = pd.Series(y)
X.columns = [f'col_{col}' for col in X.columns]
 
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
 
f.fit(X, y)

7748.117006415323
5177.688384902673
3512.830273420247
2417.7478734213596
1686.644726595381
1191.638525503124
852.1027031576857
616.442146522418
451.14223528548763
334.11024528393
250.5749097359108
190.52713655005678
147.10013948233484
115.529424348839
92.47546073093065
75.57633797686188
63.148307593783414
53.98275544893044
47.20691583707006
42.18727706601969
38.46193698704972
35.692817848560445
33.631649194934525
32.095587591280406
30.949639562232278
30.093923958545833
29.454399954987288
28.976091490164464
28.61811925529576
28.350047312737633
28.14918958367427
27.998619567819063
27.885696806986434
27.800974046285447
27.73738550368819
27.689643126716945
27.653787006815737
27.62685023202387
27.60660881010244
27.5913949087886
27.579957274274648
27.571356837334587
27.564888587254895
27.560023070523002
27.55636256182692
27.553608211889586
27.55153541231901
27.54997531487009
27.54880096254199
27.547916878140132

In [200]:
f.get_coef().mean()

8.77595471573636

In [3]:
class MyLineReg():
    def __init__(self, n_iter=100, learning_rate=0.1, weights=None):
        self.n_iter = n_iter
        self.learning_rate = learning_rate
        self.weights  = weights 
        
    def __repr__(self):
        return f'MyLineReg class: n_iter={self.n_iter}, learning_rate={self.learning_rate}'
    
    def fit(self, X, y, verbose=False): 
        n_feature = X.shape[1]
        n = X.shape[0]
        X = X.to_numpy()
        y = y.to_numpy().reshape(n, 1)
        if self.weights is None:
            self.weights = np.ones((n_feature + 1, 1)) 
        # add x0
        ones = np.ones((n, 1)) 
        X = np.hstack((ones, X))
        self.coef_hist = self.weights
        
        for i in range(1, self.n_iter+1):
            y_pred = np.dot(X, self.weights)
            grad = 2/n * np.dot((y_pred - y).T, X)
            self.weights = self.weights - self.learning_rate*grad.reshape(n_feature + 1, 1)
            self.coef_hist = np.c_[self.coef_hist, self.weights]  
            print('w', self.weights.mean())
            mse = ((y_pred - y)**2).mean()
            print('mse', mse)
            if verbose:
                if i == 1:
                    print('start | loss:', mse)
                elif i % verbose == 0:
                    print(i, '| loss:', mse)
                    
    def get_coef(self):
        return self.weights[1:]

In [4]:
f = MyLineReg(n_iter=50, learning_rate = 0.1)#0.0000001

In [6]:
f.get_coef()

array([[-1.49393014e+278],
       [-1.37230156e+275],
       [-7.78924930e+274]])

In [5]:
f.fit(df.iloc[:, :-1], df['текущая цена'])

w 7247.028478875001
mse 12429.245422500004
w -2793076439.02755
mse 1612152833942852.0
w 1076625185279796.9
mse 2.395353629411645e+26
w -4.1499823384348964e+20
mse 3.559041605198426e+37
w 1.5996610189688058e+26
mse 5.288061433603293e+48
w -6.166087387671567e+31
mse 7.857057272024631e+59
w 2.376793159397716e+37
mse 1.167409829688948e+71
w -9.161637465363594e+42
mse 1.7345497980609677e+82
w 3.53146426372345e+48
mse 2.577212325473558e+93
w -1.3612457263348899e+54
mse 3.8292491677078776e+104
w 5.24708672971612e+59
mse 5.689538670701933e+115
w -2.0225532111158066e+65
mse 8.453576371680553e+126
w 7.796176626217458e+70
mse 1.2560412646429754e+138
w -3.005130824402289e+76
mse 1.866239315907776e+149
w 1.1583641193304193e+82
mse 2.772877995556866e+160
w -4.4650549721708665e+87
mse 4.119971277372565e+171
w 1.7211095865117087e+93
mse 6.121496637635537e+182
w -6.634225619270042e+98
mse 9.095384060172553e+193
w 2.5572427178552326e+104
mse 1.3514017257386645e+205
w -9.857202171461802e+109
mse 2.0079268915388637e+216
w 3.7995781147658672e+115
mse 2.9833988850067463e+227
w -1.4645934616218586e+121
mse 4.432765428146679e+238
w 5.645453108305621e+126
mse 6.586249475295345e+249
w -2.176108362711398e+132
mse 9.785918712365669e+260
w 8.3880735795957e+137
mse 1.454002090328263e+272
w -3.233284682985373e+143
mse 2.160371591895112e+283
w 1.2463087909311956e+149
mse 3.209902823464116e+294
w -4.804048373860452e+154
mse 4.7693073611676835e+305
w 1.8517787041482368e+160
mse inf
w -7.137905579375692e+165
mse inf
w 2.7513922665785252e+171
mse inf
w -1.0605575151430107e+177
mse inf
w 4.088047555374692e+182
mse inf
w -1.5757875057583707e+188
mse inf
w 6.074064035873464e+193
mse inf
w -2.3413216424847563e+199
mse inf
w 9.024908201810259e+204
mse inf
w -3.4787603109781776e+210
mse inf
w 1.3409303486111428e+216
mse inf
w -5.168778642644689e+221
mse inf
w 1.9923684093160424e+227
mse inf
w -7.679825647185114e+232
mse inf
w 2.9602819285520264e+238
mse inf
w -1.1410765685447176e+244
mse inf
w 4.398418011215125e+249
mse inf
w -1.6954235618083728e+255
mse inf
w 6.535215722120235e+260
mse inf
w -2.5190781523109876e+266
mse inf
w 9.710092225374577e+271
mse inf
w -3.742872802051913e+277
mse inf

C:\Users\renata\AppData\Local\Temp\ipykernel_17224\1277191055.py:28: RuntimeWarning: overflow encountered in square
  mse = ((y_pred - y)**2).mean()

In [5]:
class LinearRegression:
    def __init__(self, data):
        self.data = data.copy()
        self.w = np.array([np.nan]*(data.shape[1]-1))
        self.y = df.iloc[:, -1].to_numpy().reshape(data.shape[0], 1)
        self.x = self.data.iloc[:, :-1].to_numpy()
        
    def fit(self):
        # Аналитическое решение (не крутое!)
        self.w = np.dot(np.dot(np.linalg.inv(np.dot(self.x.T, self.x)), self.x.T), self.y)
        self.data['predict'] = np.dot(self.x, self.w).reshape(self.data.shape[0],)
        return self.data

In [6]:
lr = LinearRegression(df)
lr.fit()

   цена в прошлом месяце  запасы т.  коэф. спроса  текущая цена      predict
0                   1525       1.32         0.735          1650  1643.931348
1                   1500       1.31         0.740          1650  1616.492578
2                   1500       1.28         0.730          1575  1616.486654
3                   1500       1.40         0.740          1600  1617.629704
4                   1450       1.33         0.730          1550  1562.866663
5                   1550       1.29         0.730          1700  1670.864729
6                   1000       1.10         0.710          1100  1072.441363
7                   1300       1.30         0.730          1475  1399.732439
8                   1250       1.20         0.720          1300  1344.590356
9                   1200       1.24         0.720          1235  1290.844018

In [15]:
pred = lr.fit()['predict']

In [16]:
diff = pred.to_numpy() - df['текущая цена'].to_numpy()

In [17]:
mse = ((diff)**2).mean()
mse

1573.7478267846502

In [18]:
mae = (np.abs(diff)).mean()
mae

34.395493875583114

In [10]:
rmse = np.sqrt(((diff) ** 2).mean())
rmse

39.67049062949248

In [11]:
mape = 100 * (np.abs((diff) / (pred.to_numpy() + np.exp(-20))).mean())
mape

2.425475163807869

In [12]:
mspe = 100 * ((((diff) / (pred.to_numpy() + np.exp(-20)))**2).mean())
mspe

0.08115782494585007

Коэффициент детерминации

Если значение R2 близко к единице, это означает, что построенная модель объясняет почти всю изменчивость 
соответствующих переменных.

In [19]:
r2 = 1 - ((diff)**2).sum()/((df['текущая цена'].to_numpy().mean() - pred.to_numpy())**2).sum()
r2

0.9554058445321174

Коэффициент корреляции

In [14]:
def corr(x, y):
    n = x.shape[0]
    x, y = x.to_numpy(), y.to_numpy()
    chis = (x * y).sum() - (x.sum() * y.sum()) / n
    znam = np.sqrt((x**2).sum()-((x.sum())**2)/n) * np.sqrt((y**2).sum()-((y.sum())**2)/n)
    return chis / znam

In [20]:
corr(df['текущая цена'], pred)

0.9785821301114934