In [1]:
import numpy as np
import pandas as pd

Задача, определить приблизительную стоимость цветов у поставщиков

In [3]:
df = pd.DataFrame(data={'цена в прошлом месяце': [1000, 1250, 1200, 1300, 1500, 1450, 1500, 1500, 1550, 1525],
                        'запасы т.': [1.1, 1.2, 1.24, 1.3, 1.4, 1.33, 1.28, 1.31, 1.29, 1.32],
                        'коэф. спроса': [0.71, 0.72, 0.72, 0.73, 0.74, 0.73, 0.73, 0.74, 0.73, 0.735],
                        'текущая цена' : [1100, 1300, 1235, 1475, 1600, 1550, 1575, 1650, 1700, 1650]
                       }).sample(frac=1).reset_index(drop=True)
df

   цена в прошлом месяце  запасы т.  коэф. спроса  текущая цена
0                   1525       1.32         0.735          1650
1                   1500       1.31         0.740          1650
2                   1500       1.28         0.730          1575
3                   1500       1.40         0.740          1600
4                   1450       1.33         0.730          1550
5                   1550       1.29         0.730          1700
6                   1000       1.10         0.710          1100
7                   1300       1.30         0.730          1475
8                   1250       1.20         0.720          1300
9                   1200       1.24         0.720          1235

In [5]:
class LinearRegression:
    def __init__(self, data):
        self.data = data.copy()
        self.w = np.array([np.nan]*(data.shape[1]-1))
        self.y = df.iloc[:, -1].to_numpy().reshape(data.shape[0], 1)
        self.x = self.data.iloc[:, :-1].to_numpy()
        
    def fit(self):
        self.w = np.dot(np.dot(np.linalg.inv(np.dot(self.x.T, self.x)), self.x.T), self.y)
        self.data['predict'] = np.dot(self.x, self.w).reshape(self.data.shape[0],)
        return self.data

In [6]:
lr = LinearRegression(df)
lr.fit()

   цена в прошлом месяце  запасы т.  коэф. спроса  текущая цена      predict
0                   1525       1.32         0.735          1650  1643.931348
1                   1500       1.31         0.740          1650  1616.492578
2                   1500       1.28         0.730          1575  1616.486654
3                   1500       1.40         0.740          1600  1617.629704
4                   1450       1.33         0.730          1550  1562.866663
5                   1550       1.29         0.730          1700  1670.864729
6                   1000       1.10         0.710          1100  1072.441363
7                   1300       1.30         0.730          1475  1399.732439
8                   1250       1.20         0.720          1300  1344.590356
9                   1200       1.24         0.720          1235  1290.844018

In [15]:
pred = lr.fit()['predict']

In [16]:
diff = pred.to_numpy() - df['текущая цена'].to_numpy()

In [17]:
mse = ((diff)**2).mean()
mse

1573.7478267846502

In [18]:
mae = (np.abs(diff)).mean()
mae

34.395493875583114

In [10]:
rmse = np.sqrt(((diff) ** 2).mean())
rmse

39.67049062949248

In [11]:
mape = 100 * (np.abs((diff) / (pred.to_numpy() + np.exp(-20))).mean())
mape

2.425475163807869

In [12]:
mspe = 100 * ((((diff) / (pred.to_numpy() + np.exp(-20)))**2).mean())
mspe

0.08115782494585007

Коэффициент детерминации

Если значение R2 близко к единице, это означает, что построенная модель объясняет почти всю изменчивость 
соответствующих переменных.

In [19]:
r2 = 1 - ((diff)**2).sum()/((df['текущая цена'].to_numpy().mean() - pred.to_numpy())**2).sum()
r2

0.9554058445321174

Коэффициент корреляции

In [14]:
def corr(x, y):
    n = x.shape[0]
    x, y = x.to_numpy(), y.to_numpy()
    chis = (x * y).sum() - (x.sum() * y.sum()) / n
    znam = np.sqrt((x**2).sum()-((x.sum())**2)/n) * np.sqrt((y**2).sum()-((y.sum())**2)/n)
    return chis / znam

In [20]:
corr(df['текущая цена'], pred)

0.9785821301114934